<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" type="text/css" />
    <title>layout</title>
  </head>
  <body>
    <h1>heeader</h1>
    <%- body%> <%- include('partials/banner')%>
    <h5>footer</h5>
  </body>
</html>
